body {
  margin: 0;
  padding: 0;
  color:white;

  background-image: url(ok.jpg);
  background-size: cover;
  font-family: 'Noto Sans HK';
}



.transparent {
  opacity: 9;
  background-color: #1e88e5;

}
nav {
  position:fixed;
  top:0;
  width:100%;
  height:80px;

}


nav li{
  display: inline;
  padding-right: 1vh;
}


nav ul {
  list-style: none;
  float: right;
}


a {
  text-decoration: none;
  color: #cfd8dc;
  font-size: 2.5vh;
}


a:hover {
  color:white;
}


h1 , h2 , p {
  color:white;
}

h1 {
  font-size: 7vh;
}
#left {
  /*position:relative;
  top:35vh;
  margin: auto;
  left: 20vh;*/
position:relative;
width:90%;
top:35vh;
margin: auto;
}


#gauche {
  position:relative;
  width:90%;
  margin: auto;

}
